In [1]:
magicians = ['alice', 'david', 'carolina']

In [2]:
for magician in magicians:
    print (magician)

alice
david
carolina

In [8]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
print("Thank you, everyone. That was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you, everyone. That was a great magic show!

In [10]:
for value in range(0,6):
    print(value)

0
1
2
3
4
5

In [11]:
num=list(range(1,6))

In [12]:
print(num)

[1, 2, 3, 4, 5]

In [25]:
enum=list(range(2,11,2))

In [26]:
print(enum)

[2, 4, 6, 8, 10]

In [40]:
squares = []
for value in range(1,11):
    
    squares.append(value**3)
print(squares)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [30]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [31]:
min(digits)

0

In [32]:
max(digits)

9

In [33]:
sum(digits)

45

In [34]:
squares=[value**2 for value in range(1,11)]

In [35]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
for value in range(1,21):
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [37]:
sum(range(1,100000))

4999950000

In [38]:
%

Wall time: 0 ns

In [39]:
sum.%time

SyntaxError: invalid syntax (<ipython-input-39-83d4c29cbd75>, line 1)

In [41]:
cubes=[value**3 for value in range(1,11)]

In [42]:
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]